#panel{background-color:transparent!important; }
#overview{background:#101114;}
#panel .panel-button .clock{color:transparent!important; font-size:0px; width:0px;}
#panel .panel-button.clock-display .clock {border-radius: 0px; }
#panel .panel-button .system-status-icon {icon-size: 16px; padding: 0px; margin: 0 0px;  }    
#panel .panel-button { margin-right:160px; border-radius: 0px; }  







    #panel .panel-button.clock-display .clock {
      transition-duration: 150ms;
      border: 3px solid transparent;
      border-radius: 99px; }
    #panel .panel-button.screen-recording-indicator {
      box-shadow: inset 0 0 0 100px #c01c28; }
      #panel .panel-button.screen-recording-indicator StBoxLayout {
        spacing: 6px; }
      #panel .panel-button.screen-recording-indicator StIcon {
        icon-size: 1.09em; }
    #panel .panel-button:active, #panel .panel-button:overview, #panel .panel-button:focus, #panel .panel-button:checked {
      box-shadow: inset 0 0 0 100px rgba(242, 242, 242, 0); }
      #panel .panel-button.clock-display:active, #panel .panel-button.clock-display:overview, #panel .panel-button.clock-display:focus, #panel .panel-button.clock-display:checked {
        box-shadow: none; }
        #panel .panel-button.clock-display:active .clock, #panel .panel-button.clock-display:overview .clock, #panel .panel-button.clock-display:focus .clock, #panel .panel-button.clock-display:checked .clock {
          box-shadow: inset 0 0 0 100px rgba(242, 242, 242, 0); }
      #panel .panel-button.screen-recording-indicator:active, #panel .panel-button.screen-recording-indicator:overview, #panel .panel-button.screen-recording-indicator:focus, #panel .panel-button.screen-recording-indicator:checked {
        box-shadow: inset 0 0 0 100px rgba(192, 28, 40, 0.85); }
    #panel .panel-button:hover {
      box-shadow: inset 0 0 0 100px rgba(242, 242, 242, 0); }
      #panel .panel-button.clock-display:hover {
        box-shadow: none; }
        #panel .panel-button.clock-display:hover .clock {
          box-shadow: inset 0 0 0 100px rgba(242, 242, 242, 0); }
      #panel .panel-button.screen-recording-indicator:hover {
        box-shadow: inset 0 0 0 100px rgba(192, 28, 40, 0.9); }
    #panel .panel-button:active:hover, #panel .panel-button:overview:hover, #panel .panel-button:focus:hover, #panel .panel-button:checked:hover {
      box-shadow: inset 0 0 0 100px rgba(242, 242, 242, 0.25); }
      #panel .panel-button.clock-display:active:hover, #panel .panel-button.clock-display:overview:hover, #panel .panel-button.clock-display:focus:hover, #panel .panel-button.clock-display:checked:hover {
        box-shadow: none; }
        #panel .panel-button.clock-display:active:hover .clock, #panel .panel-button.clock-display:overview:hover .clock, #panel .panel-button.clock-display:focus:hover .clock, #panel .panel-button.clock-display:checked:hover .clock {
          box-shadow: inset 0 0 0 100px rgba(242, 242, 242, 0.25); }
      #panel .panel-button.screen-recording-indicator:active:hover, #panel .panel-button.screen-recording-indicator:overview:hover, #panel .panel-button.screen-recording-indicator:focus:hover, #panel .panel-button.screen-recording-indicator:checked:hover {
        box-shadow: inset 0 0 0 100px rgba(192, 28, 40, 0.8); }
    #panel .panel-button .system-status-icon {
      icon-size: 12pt;
      padding: 5px;
      margin: 0 4px; }
    #panel .panel-button .panel-status-indicators-box .system-status-icon,
    #panel .panel-button .panel-status-menu-box .system-status-icon {
      margin: 0; }
    #panel .panel-button .app-menu-icon {
      -st-icon-style: symbolic; width: 0px; }








/* Dash */
#dash {
  margin: 0px; }


/* blur my shell - dash background color*/
.bms-overview-components-light .dash-background {
  background-color: rgba(109, 109, 109, 0.25);
  border:  1px  solid rgba(255,255,255,0.1);
}

  #dash .placeholder {
    background-image: none;
    background-size: contain;
    height: 32px; }
  #dash .empty-dash-drop-target {
    width: 32px;
    height: 32px; }
  #dash .app-well-app-running-dot {
    margin-bottom: 0px; }

.dash-background {
  background-color: rgba(255,255,255, 0.1);
  border-radius: 18px;
  padding: 4px;
  spacing: 6px;
  margin-bottom: 0px; }

.dash-item-container > * {
  margin: 0; }

.dash-item-container:ltr:first-child {
  margin-left: 0; }

.dash-item-container:rtl:first-child {
  margin-right: 0; }

.dash-item-container .app-well-app .overview-icon, .dash-item-container .grid-search-result .overview-icon {
  padding: 0; }

.dash-item-container .show-apps {
  transition-duration: 400ms; }
  .dash-item-container .show-apps .overview-icon {
    background-color: transparent; }
  .dash-item-container .show-apps:hover .overview-icon {
    background-color: rgba(255, 255, 255, 0); }
  .dash-item-container .show-apps:selected .overview-icon, .dash-item-container .show-apps:focus .overview-icon {
    background-color: rgba(255, 255, 255, 0); }
    .dash-item-container .show-apps:selected .overview-icon:hover .overview-icon, .dash-item-container .show-apps:focus .overview-icon:hover .overview-icon {
      background-color: rgba(255, 255, 255, 0.16); }
    .dash-item-container .show-apps:selected .overview-icon:active .overview-icon, .dash-item-container .show-apps:focus .overview-icon:active .overview-icon {
      background-color: rgba(255, 255, 255, 0.13); }
  .dash-item-container .show-apps:active .overview-icon {
    background-color: rgba(255, 255, 255, 0.16); }
  .dash-item-container .show-apps:outlined .overview-icon, .dash-item-container .show-apps:checked .overview-icon {
    background-color: rgba(255, 255, 255, 0.19); }
    .dash-item-container .show-apps:outlined .overview-icon:active .overview-icon, .dash-item-container .show-apps:checked .overview-icon:active .overview-icon {
      background-color: rgba(255, 255, 255, 0.22); }
    .dash-item-container .show-apps:outlined .overview-icon:hover .overview-icon, .dash-item-container .show-apps:checked .overview-icon:hover .overview-icon {
      background-color: rgba(255, 255, 255, 0.25); }
  .dash-item-container .show-apps:drop .overview-icon {
    border: 2px solid rgba(53, 132, 228, 0.8);
    background-color: rgba(53, 132, 228, 0.2); }

.dash-item-container .show-apps, .dash-item-container .app-well-app, .dash-item-container .grid-search-result {
  padding-bottom: 8px; }

.dash-separator {
  width: 1px;
  margin: 0 4px;
  margin-left: 15px;
  background-color: rgba(107, 107, 107, 0.6);
  margin-bottom: 12px; }

.dash-label {
  color: #f2f2f2;
  background-color: #202124;
  border-radius: 5px;
  padding: 6px 12px;
  text-align: center;
  margin-bottom: 20px!important;
  -y-offset: 8px; }

/*dashtodock*/

  #dashtodockContainer.bottom #dash {
    margin: 0px!important;
    padding: 0px!important; }
  
  #dashtodockContainer.bottom #dash .dash-background {
    margin-bottom: 6px!important;
    padding: 0 2px!important;
    border-radius: 18px!important; 
  }
  
  #dashtodockContainer.bottom #dash #dashtodockDashContainer {
    padding: 0px!important; }
  
  #dashtodockContainer.bottom #dash .dash-item-container .app-well-app,
  #dashtodockContainer.bottom #dash .dash-item-container .show-apps {
    padding: 0px!important;
    padding-bottom: 14px!important;
    padding-top: 3px!important; }
  
  #dashtodockContainer.bottom.fixed #dash .dash-background {
    margin-top: 1px!important; }
  
  #dashtodockContainer.bottom.fixed #dash .dash-item-container .app-well-app,
  #dashtodockContainer.bottom.fixed #dash .dash-item-container .show-apps {
    padding-top: 4px!important; }
  
    #dashtodockContainer .notification-badge {
      color:white;
      width: 16px;
      height: 16px;
      background-color: #ff3b2f;
      padding-bottom: 5px;
      padding-left: 2px;
      padding-right: 2px;
      border-radius: 1em;
      font-weight: 500;
      text-align: center;
      margin: 0; }

      .show-apps {width: 0px;}
      .show-apps .show-apps-icon {
        color: transparent !important;
        background-image: url("view-app-grid.svg");
        background-size: contain;
      }
      


