[Desktop Entry]
Name=Dashboard conky
Icon=dasher.png
Type=Application
Exec=/home/jonathan/.config/conky/start
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true

